/*Обнуление стилей, чтобы самостоятельно задавать параметры стилей, а не следовать тем, что по умолчанию*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/




body {
    padding: 0 25px;
    font-family: 'Times New Roman', Times, serif;
}

.helvetica {
    font-family: Arial, Helvetica, sans-serif;
}

.cambria {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.fontsize22 {
    font-size: 22pt;
}

.fontsize12 {
    font-size: 12pt;
}

.cursiv {
    font-style: italic;
}

.fontweight700 {
    font-weight: 700;
}

.colorblue {
    color: blue;
}

.textaligncenter {
    text-align: center;
}

.textalignleft {
    text-align: left;
}

.textalignright {
    text-align: right;
}

.textalignjustify {
    text-align: justify;
}

.textdecorationunderline {
    text-decoration: underline;
}

.textdecorationlinetrhrough {
    text-decoration: line-through;
}

.textshadow {
    text-shadow: 1px 1px 1px yellow;
}

.texttransformcapitalize {
    text-transform: capitalize;
}

.texttransformuppercase {
    text-transform: uppercase;
}

.textindent50 {
    text-indent: 50px;
}

.letterspacing10 {
    letter-spacing: 5px;
}

.wspacing10 {
    word-spacing: 10px;
}

.whitespacenowrapбезпереносастроки {
    white-space: nowrap;
}

.lineheight30 {
    line-height: 30px;
}